.navbar {
  width: 100%;
  background: #111827;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar button {
  background: #ef4444;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 4px;
}
